#tiendaWidget{
    margin: 0px 35px;
    border-radius: 25%;
    border: 3px solid #FFAD60;
}

#cartWidget{
    margin: 0px 0px 0px 15px;
    border-radius: 25%;
    border: 3px solid #FFAD60;
}

#cartNumber{
    margin: 0px 35px 0px 4px;
    padding: 4px;
    font-weight: 700;
    background-color: white;
    border-radius: 85%;
    border: 3px solid #FFAD60;
}

#primerItem{
    margin: 0px 20px 0px 730px;
}

.navbar{
    /* background-color: #A02334; */
    background: linear-gradient(to right,#A02334 20%, #FFAD60 30%,#A02334 100%);  
}

.nav-item{
    margin: 0px 15px;
}

.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 35px;
    color: #FFAD60;
}
.navbar-brand h5{
    font-weight: 100;
}
.navbar-brand:hover{
    color: #96CEB4;
}

.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #FFAD60;
}
.nav-link:hover{
    color: #96CEB4
}

.itemsList{
    background-color: #FFEEAD;
    height: 80vh;
}
.itemsList h4{
    padding: 30px;
    color:#96CEB4;
}
.itemsList h5{
    padding: 0px 30px;
    color:#96CEB4;
}

.footer{
    background-color: #96CEB4;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoFooter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color:  #A02334;
}