*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

#tiendaWidget{
    margin: 0px 35px;
    border-radius: 25%;
    border: 3px solid #FFAD60;
}

#cartWidget{
    margin: 0px 0px 0px 15px;
    border-radius: 25%;
    border: 3px solid #FFAD60;
}

#cartNumber{
    margin: 0px 35px 0px 4px;
    padding: 4px;
    font-weight: 700;
    background-color: white;
    border-radius: 85%;
    border: 3px solid #FFAD60;
}

#primerItem{
    margin: 0px 20px 0px 730px;
}

.navbar{
    /* background-color: #A02334; */
    background: linear-gradient(to right,#A02334 20%, #FFAD60 30%,#A02334 100%);  
}

.nav-item{
    margin: 0px 15px;
}

.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 35px;
    color: #FFAD60;
}
.navbar-brand h5{
    font-weight: 100;
}
.navbar-brand:hover{
    color: #96CEB4;
}

.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #FFAD60;
}
.nav-link:hover{
    color: #96CEB4;
}

.footer{
    background-color: #96CEB4;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoFooter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    color:  #A02334;
}

.itemsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-color: #FFEEAD;
    padding: 20px 200px;

}

.card{
    margin: 0px 10px;
    width: 220px;
    height: 330px;
    display: flex;
    text-align: center;
    border: 4px solid #A02334;
}

.btn{
    background-color: #96CEB4;
}
.btn:hover{
    background-color: #FFAD60;
}

.card-title{
    color: #96CEB4;
}

.card-text{
    color:#A02334;
}

main{
    display: flex;
    flex-direction: row;
    background-color: #FFEEAD;
    height: 80vh;
    padding: 20px;
    justify-content: center;
}

h2{
    color: #96CEB4;
}

.nosotros{
    width: 40%;
    margin: 20px;
}
.nosotros h3{
    color: #A02334;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: overline;
}

.nosotros h4{
    color: #96CEB4;
    font-size: 15px;
    margin-bottom: 20px;
}

form{
    width: 40%;
    margin: 20px 0px;
}

#botonFinal{
    width: 25%;
    margin: 10px 0px;
    align-self: center;
}

.botonQuitar{
    background-color: #96CEB4;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.botonQuitar:hover{
    background-color: #FFAD60;
}

.total{
    color:#A02334;
    font-weight: 700;
    background-color: #96CEB4;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 25%;
    align-self: center;
}